<div class="center hero-unit">
  <h1>Welcome to the POSitive +</h1>

  <h2>
    This is the home page for the POS System of
    <a href="http://www.menggayskitchen.com">Menggay's Kitchen</a>
  </h2>

</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>